<form action="{% url 'faculty-login' %}" method="post">
    {% if messages %}
    <div class="alert alert-info alert-message" style="color: #475569;font-size: 1.1rem;background-color: #f8d7da;border: #f5c6cb;font-weight: 600;text-align: center;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    <label for="faculty-email">Faculty Email</label>
    <input type="email" name="faculty-email" id="faculty-email" required placeholder="Enter Faculty Email">
    <br><br>
    <label for="faculty-password">Faculty Password</label>
    <input type="password" name="faculty-password" id="faculty-password" required placeholder="Enter Password">
    <br>
    <button type="submit">Login</button>
</form>