<form action="{% url 'institute-login' %}" method="post">
    {% if messages %}
    <div class="alert alert-info alert-message" style="color: #475569;font-size: 1.1rem;background-color: #f8d7da;border: #f5c6cb;font-weight: 600;text-align: center;">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    {% csrf_token %}
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required autofocus placeholder="Enter email">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required placeholder="Enter password">
    <br>
    <button type="submit">Login</button>


</form>